.chartWrapper {
    margin    : 25px auto;
    width     : 1400px;
    height    : 600px;
    border    : 1px solid #eee;
    box-sizing: border-box;
    display   : flex;
    overflow  : hidden;
}

.chartWrapper>div {
    background: #eee;
}