.App {
    width        : 1280px;
    height       : 760px;
    display      : flex;
    border       : 1px solid #ccc;
    border-radius: 6px;
    margin       : 10px auto;
    overflow     : hidden;
}